<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Treinador</title>
</head>
<body>
    <h1>Cadastrar Novo Treinador</h1>

    <form action="/cadastrarTreinador" method="POST">
        <label for="nome">Nome do Treinador:</label>
        <input type="text" id="nomeTreinador" name="nomeTreinador" required><br><br>
    
        <label for="pokemons">Escolha os Pokémons:</label>
        <select name="pokemonIds[]" id="pokemonIds" multiple required> <!-- Note o [] aqui -->
            <% pokemons.forEach(function(pokemon) { %>
                <option value="<%= pokemon.id %>"><%= pokemon.nome %></option>
            <% }); %>
        </select><br><br>
    
        <button type="submit">Cadastrar</button>
    </form>
    

    <a href="/">Voltar à Pokédex</a>
</body>
</html>
