<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="formTreinador.css">

    <title>Cadastrar Treinador</title>
</head>
<body>
    <h1>Cadastrar Novo Treinador</h1>

    <form action="/cadastrarTreinador" method="POST">
        <label for="nome">Nome do Treinador:</label>
        <input type="text" id="nomeTreinador" name="nomeTreinador" required><br><br>
    
        <label>Escolha os Pokémons:</label><br>
        
        <% pokemons.forEach(function(pokemon) { %>
            <div>
                <input type="checkbox" name="pokemonIds[]" value="<%= pokemon.id %>">
                <label><%= pokemon.nome %></label>
            </div>
        <% }); %>
        
        <br><br>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>
