<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= treinador.nomeTreinador %></title>
</head>
<body>
    <h1><%= treinador.nomeTreinador %></h1>
    <p><%= treinador.listaPokemon %></p>
    <a href="/">Voltar à Pokédex</a>
</body>
</html>